:root {
  --light-bg-color: #00B8AD;
  --light-bg-leaves-color: #71CDA6;
  --dark-bg-color: #121212;
  --dark-bg-leaves-color: #E8B828;
  --green: #159B6A;
  --faded-green: #138B87;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
